a {
	text-decoration: none;
	color: #336699;
}

/* Bootstrap overloads */
.panel .list-group-item { padding: 0; }
.panel .list-group-item.active { background: #F9F9F9; }

	.panel .list-group-item a {
		padding: 10px 15px;
		display: block;
	}

.glyphicon-documentation:before { content: "\e043"; } /* Same as .glyphicon-book */
.glyphicon-news:before          { content: "\e122"; } /* Same as .glyphicon-bullhorn */

/* @group Classes */

	.for-reader {
		position: absolute;
		left: -2000em;
	}

/* @end of Classes */

/* @group #header */

	#header {
		background: -webkit-linear-gradient(top, #181c4a, #080b22);
		background:         linear-gradient(to bottom, #181c4a, #080b22);

		border: 0;
		border-radius: 0;
	}

		#header .navbar-header { margin: 0; }

			#header .navbar-toggle {
				background: #FFF;
				width: 3em;
				line-height: 1;
				color: #D21F2C;
			}

			#header h1 {
				margin: 0;
				margin-right: 1em;

				display: inline-block;

				line-height: 50px;
				font-size: 1em;
			}

				#header h1 a { display: block; }

		#header .nav li { padding:0 4px; }

			#header .nav a {
				text-shadow: none;
				color: #EEE;
			}

			#header .nav .active a { background: rgba(125, 125, 125, .1); }

			#header .nav a:hover,
			#header .nav a:focus { background: rgba(125, 125, 125, .2); }

/* @end of #header */

/* @group #jumbotron */

	.container .jumbotron {
		background: #000 url(img/earth.jpg) no-repeat;

		padding: 40px 20px;
		padding-left: 296px;

		overflow: hidden;
		position: relative;

		text-align: center;
		color: #FFF;
	}

	.jumbotron:before,
	.jumbotron:after {
		width:  6px;
		height: 6px;

		content: "";
		display: block;
		position: absolute;
		left: 0;
		z-index: 1;
	}

	.jumbotron:before {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDYgNiI+DQoJPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYsMEgwdjZDMCwyLjY4NywyLjY4NiwwLDYsMHoiIC8+DQo8L3N2Zz4=);
		top: 0;
	}

	.jumbotron:after {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDYgNiI+DQoJPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTAsMHY2aDZDMi42ODcsNiwwLDMuMzE0LDAsMHoiIC8+DQo8L3N2Zz4=);
		bottom: 0;
	}

		#earth {
			/* Set a background and a size to prevent displaying the jumbotron's background image */
			background: #000;
			width:  300px;
			height: 400px;

			position: absolute;
			top:  0;
			left: 0;
		}

		.jumbotron div { position: relative; }

			.jumbotron p {
				margin: 1em 0;
				font-size: 2em;
				/*font-weight: lighter;*/
				line-height: 1.3;
			}

			.jumbotron .btn {
				background: -webkit-linear-gradient(top, #D21F2C, #AE2A2C);
				background:         linear-gradient(to bottom, #D21F2C, #AE2A2C);
				background-repeat: repeat-x;
				border-color: #B92C28;
				color: #FFF;
			}

			.jumbotron .btn:hover,
			.jumbotron .btn:focus {
				background-color: #C12E2A;
				background-position: 0 -15px;
			}

/* @end of #jumbotron */

/* @group #how */

	#ios,
	#android,
	#windows {
		margin: 1.5em 0;
		text-align: center;
		font-size: 3em;
	}

/* @end of #how */

/* @group #why */

	#why section {
		background-repeat: no-repeat;

		min-height: 300px;
		padding-bottom: 20px;
		border-bottom: 1px solid #EEE;
		margin: 20px 0;
	}

	#why section:nth-child(even) {
		background-position: right;
		padding-right: 320px;
	}

	#why section:nth-child(odd) {
		background-position: left;
		padding-left: 320px;
	}

	#why section:last-child { border: 0; }

		#why section h1 { font-size: 30px; }

		#initiative { background-image: url(/img/any-device.png); }
		#api        { background-image: url(/img/api-unified.png); }
		#skin       { background-image: url(/img/skin.png); }

/* @end of #why */

/* @group #signatures */

	#signatures { margin-bottom: 2em; }

		.signature { margin-bottom: 1.5em; }

			.signature .return span {
				background: #3A87AD;

				padding: 2px 4px;
				border-radius: 4px;

				display: inline-block;

				font-size: .917em;
				color: #FFF;
			}

/* @end of #signatures */

/* @group #footer */

	#footer {
		background: -webkit-linear-gradient(top, #EDEDED, #FFFFFF);
		background:         linear-gradient(to bottom, #EDEDED, #FFFFFF);

		min-height: 100px;
		padding-top: 30px;
		border-top: 1px solid #CCC;

		font-size: 10px;
		color: #464646;
	}

		#footer a:hover {
			text-decoration: none;
			color: #D21F2C;
		}

		#footer .container {
			position: relative;
			text-align: center;
		}

			#footer p {
				display: inline-block;
				text-transform: uppercase;
			}

			#footer ul { font-size: 18px; }

				#footer ul a { color: #555; }

/* @end of #footer */




/* Custom thumbnail */

.thumbnail {border:none;}
.caption p {text-align:justify;}

.nav-tabs a {
  color: #333;
  text-decoration: none;
}

.nav-tabs a:hover,
.nav-tabs a:focus {
  color: #111;
  text-decoration: none;
}


/* Sub Header */
#subhead {
min-height: 100px;
background-image:-webkit-linear-gradient(top, #fff, #ededed);
border-bottom: 1px solid #cccccc;
padding:0px;
margin-top:0px;
margin-bottom:20px;
border-radius: 0px;
}

/* News */

article > h1 {
font-size: 36px;
font-weight: lighter;
}

article > p {
font-size: 18px;
}

article > hr {
	margin: 60px 0;
	border-top: 1px dotted #eee;
}

#download .social {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    height: 20px
}

#download .social > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 11px
}

#download .social a:hover {
    border: none
}

#download .social img {
    vertical-align: middle
}

hr.section-line { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    box-shadow: 0px -2px 4px rgba(136,136,136,0.75);
}

/* @group Pygment styles */

	.highlight  { background: #ffffff; }
	.highlight .c { color: #999988; font-style: italic } /* Comment */
	.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
	.highlight .k { font-weight: bold } /* Keyword */
	.highlight .o { font-weight: bold } /* Operator */
	.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
	.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
	.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
	.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
	.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
	.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
	.highlight .ge { font-style: italic } /* Generic.Emph */
	.highlight .gr { color: #aa0000 } /* Generic.Error */
	.highlight .gh { color: #999999 } /* Generic.Heading */
	.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
	.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
	.highlight .go { color: #888888 } /* Generic.Output */
	.highlight .gp { color: #555555 } /* Generic.Prompt */
	.highlight .gs { font-weight: bold } /* Generic.Strong */
	.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
	.highlight .gt { color: #aa0000 } /* Generic.Traceback */
	.highlight .kc { font-weight: bold } /* Keyword.Constant */
	.highlight .kd { font-weight: bold } /* Keyword.Declaration */
	.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
	.highlight .kr { font-weight: bold } /* Keyword.Reserved */
	.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
	.highlight .m { color: #009999 } /* Literal.Number */
	.highlight .s { color: #d14 } /* Literal.String */
	.highlight .na { color: #008080 } /* Name.Attribute */
	.highlight .nb { color: #0086B3 } /* Name.Builtin */
	.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
	.highlight .no { color: #008080 } /* Name.Constant */
	.highlight .ni { color: #800080 } /* Name.Entity */
	.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
	.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
	.highlight .nn { color: #555555 } /* Name.Namespace */
	.highlight .nt { color: #000080 } /* Name.Tag */
	.highlight .nv { color: #008080 } /* Name.Variable */
	.highlight .ow { font-weight: bold } /* Operator.Word */
	.highlight .w { color: #bbbbbb } /* Text.Whitespace */
	.highlight .mf { color: #009999 } /* Literal.Number.Float */
	.highlight .mh { color: #009999 } /* Literal.Number.Hex */
	.highlight .mi { color: #009999 } /* Literal.Number.Integer */
	.highlight .mo { color: #009999 } /* Literal.Number.Oct */
	.highlight .sb { color: #d14 } /* Literal.String.Backtick */
	.highlight .sc { color: #d14 } /* Literal.String.Char */
	.highlight .sd { color: #d14 } /* Literal.String.Doc */
	.highlight .s2 { color: #d14 } /* Literal.String.Double */
	.highlight .se { color: #d14 } /* Literal.String.Escape */
	.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
	.highlight .si { color: #d14 } /* Literal.String.Interpol */
	.highlight .sx { color: #d14 } /* Literal.String.Other */
	.highlight .sr { color: #009926 } /* Literal.String.Regex */
	.highlight .s1 { color: #d14 } /* Literal.String.Single */
	.highlight .ss { color: #990073 } /* Literal.String.Symbol */
	.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
	.highlight .vc { color: #008080 } /* Name.Variable.Class */
	.highlight .vg { color: #008080 } /* Name.Variable.Global */
	.highlight .vi { color: #008080 } /* Name.Variable.Instance */
	.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* @end of Pygment styles */

h1.page-header span {
	font-size: 18px;
	font-weight: normal;
	vertical-align: middle;
}


/* Special characters for Fabuloos UI - from http://icomoon.io/app/ */


@font-face {
	font-family: 'uifab';
	src:url('fonts/uifab.eot');
	src:url('fonts/uifab.eot?#iefix') format('embedded-opentype'),
		url('fonts/uifab.ttf') format('truetype'),
		url('fonts/uifab.woff') format('woff'),
		url('fonts/uifab.svg#uifab') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'uifab';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
	content: "\e601";
}
.icon-android:before {
	content: "\e600";
}
.icon-windows8:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-html5:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e605";
}
.icon-bug:before {
	content: "\e606";
}
.icon-earth:before {
	content: "\e607";
}
.icon-cloud:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-pause:before {
	content: "\e60a";
}
.icon-stop:before {
	content: "\e60b";
}
.icon-backward:before {
	content: "\e60c";
}
.icon-forward:before {
	content: "\e60d";
}
.icon-close:before {
	content: "\e60e";
}
.icon-checkmark:before {
	content: "\e60f";
}
.icon-volume-mute:before {
	content: "\e610";
}
.icon-volume-mute2:before {
	content: "\e611";
}
.icon-spinner:before {
	content: "\e612";
}
.icon-tv:before {
	content: "\e613";
}
.icon-screen:before {
	content: "\e614";
}
.icon-laptop:before {
	content: "\e615";
}
.icon-mobile:before {
	content: "\e616";
}
.icon-mobile2:before {
	content: "\e617";
}
.icon-tablet:before {
	content: "\e618";
}
.icon-twitter:before {
	content: "\e619";
}
.icon-youtube:before {
	content: "\e61a";
}
.icon-youtube2:before {
	content: "\e61b";
}
.icon-feed:before {
	content: "\e61c";
}
.icon-github:before {
	content: "\e61d";
}
.icon-github2:before {
	content: "\e61e";
}
.icon-file-pdf:before {
	content: "\e61f";
}
.icon-firefox:before {
	content: "\e620";
}
.icon-IE:before {
	content: "\e621";
}
.icon-opera:before {
	content: "\e622";
}
.icon-safari:before {
	content: "\e623";
}
.icon-chrome:before {
	content: "\e624";
}
.icon-html5:before {
	content: "\e625";
}
.icon-file-css:before {
	content: "\e626";
}
.icon-file-xml:before {
	content: "\e627";
}
.icon-console:before {
	content: "\e628";
}
.icon-mail:before {
	content: "\e629";
}
.icon-google-drive:before {
	content: "\e62a";
}
.icon-google-plus:before {
	content: "\e62b";
}
.icon-code:before {
	content: "\e62c";
}
.icon-dashboard:before {
	content: "\e62d";
}
.icon-search:before {
	content: "\e62e";
}
.icon-contract:before {
	content: "\e62f";
}
.icon-expand:before {
	content: "\e630";
}
.icon-lock:before {
	content: "\e631";
}
.icon-unlocked:before {
	content: "\e632";
}
.icon-contract2:before {
	content: "\e633";
}
.icon-expand2:before {
	content: "\e634";
}
.icon-redo:before {
	content: "\e635";
}
.icon-images:before {
	content: "\e636";
}
.icon-music:before {
	content: "\e637";
}
.icon-headphones:before {
	content: "\e638";
}
.icon-play2:before {
	content: "\e639";
}
.icon-film:before {
	content: "\e63a";
}
.icon-compass:before {
	content: "\e63b";
}
.icon-user2:before {
	content: "\e63c";
}
.icon-users:before {
	content: "\e63d";
}
.icon-power-cord:before {
	content: "\e63e";
}
.icon-bookmark:before {
	content: "\e63f";
}
.icon-eye:before {
	content: "\e640";
}
.icon-checkmark-circle:before {
	content: "\e641";
}
.icon-cancel-circle:before {
	content: "\e642";
}
.icon-facebook:before {
	content: "\e643";
}
