body {
	padding-top: 20px;
	padding-bottom: 60px;
}

a {
  color: #669966;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #33CC33;
  text-decoration: underline;
}


/* Custom container */
.container {
	margin: 0 auto;
	max-width: 960px;
}
/*.container > hr {
	margin: 60px 0;
}*/


/* Main marketing message and sign up button */
.jumbotron {
	margin: 20px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 52px;
	font-weight: lighter;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}
.jumbotron .btn {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}


/* Custom thumbnail */

.thumbnail {border:none;}
.caption p {text-align:justify;}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	background-image:-webkit-linear-gradient(top, #FFF, #EEE);
	padding:2px;
	margin-top:10px;
}

.nav li {
padding:0 4px;
line-height: 26px;
}

.navbar .nav > li > a {
color: #333;
font-size: 1.1em;
font-weight: lighter;
text-transform: uppercase;
text-decoration: none;
}


.navbar .brand {
  display: block;
  float: left;
  padding: 4px 20px 0px;
  margin-left: -10px;
}

.navbar .divider-vertical {
height: 30px;
margin: 0 9px;
border-right: 1px solid #ffffff;
}


/* Footer */
#footer {
font-size:10px;
color: #464646;
}

#footer .notice {
	font-size: 10px;
	line-height: 30px;	
	text-align: center;
	text-transform: uppercase;
}

#footer .social ul {
	display: inline;
	margin:0;
	padding: 0;
}

#footer .social li {
	list-style-type: none;
	float: right;

}

#footer .social li a{
display: block;
width: 25px;
height: 30px;
margin-left: 5px;
margin-right: 0;
}

a.twitter {
	background: url('http://local.static.fabuloos.org/img/twitter.png') no-repeat 0 0;
	background-size: 100%;
}

a.googleplus {
	background: url('http://local.static.fabuloos.org/img/googleplus.png') no-repeat 0 0;
	background-size: 100%;
}

a.github {
	background: url('http://local.static.fabuloos.org/img/github.png') no-repeat 0 0;
	background-size: 100%;
}

#download .social {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    height: 20px
}

#download .social > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 11px
}

#download .social a:hover {
    border: none
}

#download .social img {
    vertical-align: middle
}
