body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container 
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.container > hr {
	margin: 60px 0;
}
*/

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 60px;
	font-weight: lighter;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}


/* Custom thumbnail */

.thumbnail {border:none;}
.caption p {text-align:justify;}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	background-image:-webkit-linear-gradient(top, #FFF, #EEE);
	padding:4px;
	margin-top:10px;
}

.nav li {
padding:0 10px;
line-height: 26px;
}

.navbar .nav > li > a {
color: #333;
font-size: 1.1em;
font-weight: lighter;
text-transform: uppercase;
text-decoration: none;
}

.navbar .brand {
padding: 10px 20px 0px;
margin-left: -10px;
}

.navbar .divider-vertical {
height: 30px;
margin: 0 9px;
border-right: 1px solid #ffffff;
}


/* Footer */
.footer {
font-size:10px;
}

/* */
#footer .twitter, #footer .github, #footer .googleplus {
    font-size: 33px;
    line-height: 35px;
    color: #464646;
    height: 35px;
    width: 35px;
    display: inline-block
}

#download .social {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    height: 20px
}

#download .social > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 11px
}

#download .social a:hover {
    border: none
}

#download .social img {
    vertical-align: middle
}
