body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.container > hr {
	margin: 60px 0;
}

/* Custom container */
 .container-narrow {
   margin: 0 auto;
   max-width: 700px;
 }
 .container-narrow > hr {
   margin: 30px 0;
 }

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}


/* Custom thumbnail */

.thumbnail {border:none;}
.caption p {text-align:justify;}

/* Custom table */

table { table-layout: fixed; }
table th, table td { overflow: hidden; }

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	background-image:-webkit-linear-gradient(top, #595959, #323232);
	padding-left:6px;
	margin-top:10px;
	text-transform: uppercase;
}

.nav li {
line-height: 26px;
}

.navbar .nav > li > a {
color: #ffffff;
text-decoration: none;
text-shadow: 0 1px 0 #000000;
}

.navbar .brand {
padding: 10px 20px 0px;
margin-left: -20px;
}

.navbar .divider-vertical {
height: 30px;
margin: 0 9px;
border-right: 1px solid #ffffff;
}

/* Usermenu */

.usermenu .usermenu-inner {
	padding: 0;
	margin-top:10px;
}

.usermenu .nav {
display: block;
list-style: none;
margin: 0 10px 0 0;
	}

/* Footer */
.footer {
font-size:10px;
}


