html { min-width: 900px; }

body {
	background: #F3F3F3;
	font-size: 16px;
	color: #404040;
}

a { color: #D4202E; }

/* @group Classes */

	.wrapper {
		width: 900px;
		margin: 0 auto;

		position: relative;
	}

/* @end of Classes */

/* @group header */

	header {
		margin-bottom: 30px;
		position: relative;
	}

		header h1 {
			position: absolute;
			top:  50px;
			left: 50px;
			z-index: 2;
		}

		#video {
			background: #333;

			height: 250px;
			box-shadow: 0 3px 3px rgba(0, 0, 0, .25);

			overflow: hidden;
			position: relative;
			z-index: 1;
		}

			#player {
				min-width:  960px;
				min-height: 250px;
			}

			@media (min-width: 1280px) {
				#player { width: 100%; }
			}

		header nav {
			border-top: 6px solid #D4202E;
			text-align: right;
		}

			header nav div {
				width: 900px;
				padding-right: 30px;
				margin: 0 auto;

				overflow: hidden;
			}

				header ul {
					margin: 0;
					float: right;
				}

					header li { padding-top: .25em; }

					header .list-inline > li:first-child { padding-left: 5px; }

					header .selected {
						background: #D4202E;

						padding-bottom: 2px;
						border-radius: 0 0 4px 4px;
					}

						header .selected a {
							padding: 0 .5em;
							color: #FFF;
						}

/* @end of header */

section {
	width: 900px;
	padding: 0 30px 30px 30px;
	margin: 0 auto;
}

#jumbo { text-align: center; }

	#jumbo h1 {
		margin: 0;

		font-size: 3em;
		font-variant: small-caps;
		line-height: 1.3;
		text-transform: lowercase;
	}

	#jumbo p { font-size: 1.5em; }