<div class="masthead">
	<div class="navbar">
		<div class="navbar-inner" >
		
		<a href="/" class="brand">
			<img src="http://local.static.fabuloos.org/img/fabuloos.png" width="120" title="Fabuloos.org">
		</a>
		
		<ul class="nav nav-justified">
		<li class="divider"></li>
		<li><a href="/">About</a></li>
		<li><a href="/docs/">Docs</a></li>
		<li><a href="http://api.fabuloos.org">Api</a></li>
		<li><a href="/guides/">Designer</a></li>
		<li><a href="/community/">Community</a></li>
		<li><a href="/blog/">Blog</a></li>
		</ul>
		</div>

	</div>
	<!-- /.navbar -->
</div>

