<div class="masthead">
	<div class="navbar">
		<div class="navbar-inner" >
			<a href="/" class="brand"><img src="http://local.static.fabuloos.org/img/fabuloos-simple.png" width="100" title="Fabuloos.org"></a>
			<ul class="nav pull-right">
				<li></i><a href="http://fabuloos.ws/login"><strong>Login</strong></a></li>
				<li class="divider-vertical"></li>
				<li><a href="/register"><strong>Sign Up</strong></a></li>
			</ul>
		</div>
	</div>
<script>
$('.dropdown-toggle').dropdown();
</script>	
	<!-- /.navbar -->
</div>
