<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ title }}</title>

	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/bootstrap.css" />
	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/website.css" />
	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/bootstrap-responsive.css" />
	
</head>

<body>
	<div class="container">
		{% include "_masthead.html" %}
		<!-- Jumbotron -->
		<!--<div class="jumbotron">
			<h1>Marketing stuff!</h1>
			<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<a class="btn btn-large btn-success" href="#">Get started today</a>
		</div>
		<hr>-->
		<!-- Example row of columns -->
		<div class="row-fluid">
			{% block content %}{% endblock %}
		</div>
		<hr>
		<div class="footer">


<div class="row-fluid">
	<ul class="thumbnails">
	   <li class="span3">
	   <div class="info">COPYRIGHT 2013 EGENY INC.
	   <br/><a href="/team">CORE TEAM</a> | <a href="/sponsors">PROJECT SPONSORS</a></div>
	   </li>
	   <li class="span6">
	   <p class="text-center">FABULOOS IS FREE, OPEN SOURCE AND ALWAYS WILL BE.</p>
	   </li>
	   <li class="span3">
	   <p class="text-center">Twitter | GitHub | Google+</p>
	   </li>
  </ul>
</div>

		</div>
	</div> <!-- /container -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://local.static.fabuloos.org/js/bootstrap.min.js"></script>
</body>
</html>