<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ title }}</title>

	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/bootstrap.css" />
	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/website.css" />
	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="http://local.static.fabuloos.org/css/prettify.css" />

</head>

<body>
	<div class="container">
		{% include "_masthead.html" %}
		<!-- Jumbotron -->
		<!--<div class="jumbotron">
			<h1>Marketing stuff!</h1>
			<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<a class="btn btn-large btn-success" href="#">Get started today</a>
		</div>
		<hr>-->
		<!-- Example row of columns -->
		<div class="row-fluid">
			{% block content %}{% endblock %}
		</div>
		<hr/>

<div id="footer">

	<div class="row-fluid">
		<ul class="thumbnails">
		   <li class="span3">
		   <div class="info">Fabuloos is a trademark of <a href="http://egeny.net">eGeny</a>,&nbsp;Inc.
		   <br/>View <a href="/licence">licence</a>.</div>
		   </li>
		   <li class="span6">
		   <div class="notice">FABULOOS IS FREE, OPEN SOURCE AND ALWAYS WILL BE.</div>
		   </li>
		   <li class="span3">
		   <div class="social">Twitter | GitHub | Google+</div>
		   </li>
	  </ul>
	</div>

</div><!-- /footer -->

	</div> <!-- /container -->
	<script src="http://local.static.fabuloos.org/js/prettify.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://local.static.fabuloos.org/js/bootstrap.min.js"></script>

</body>
</html>