<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ title }}</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/website.css" />
</head>

<body>
	<div class="container">
		<div class="masthead">
			<div class="navbar">
				<div class="navbar-inner">
					<a href="/" class="brand"><img src="/img/fabuloos.png" width="120" title="Fabuloos.org" /></a>
					<ul class="nav nav-justified">
						<li><a href="/">Overview</a></li>
						<li><a href="/download/">Download</a></li>
						<li><a href="/documentation/">Documentation</a></li>
						<li><a href="/news/">News</a></li>
					</ul>
				</div><!-- end of .navbar-inner -->
			</div><!-- end of .navbar -->
		</div><!-- end of .masthead -->

		<div class="row-fluid">
			{{ content }}
		</div>

		<hr/>

		<div id="footer">
			<div class="row-fluid">
				<div class="span3">
					<a href="/" class="brand"><img src="/img/egeny.png" width="120" title="eGeny.net" /></a>
				</div>
				<div class="span6">
					<div class="notice">Copyright&nbsp;<a href="http://egeny.net">eGeny&nbsp;Inc</a>, Fabuloos is a trademark of eGeny&nbsp;Inc. View <a href="https://github.com/egeny/fabuloos-js/blob/master/LICENSE">licence</a>.</div>
				</div>
				<div class="span3">
					<ul class="social inline">
						<li><a href="" class="twitter"></a></li>
						<li><a href="" class="googleplus"></a></li>
						<li><a href="https://github.com/egeny/fabuloos-js/" class="github"></a></li>
					</ul>
				</div>
			</div><!-- end of .row-fluid -->
		</div><!-- end of #footer -->
	</div> <!-- /container -->
</body>
</html>