<!DOCTYPE html>
<!--[if IE 7]><html class="IE IE7" lang="en"><![endif]-->
<!--[if IE 8]><html class="IE IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="IE IE9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<title>{{ title }}</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/website.css" />

	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Header -->
<div class="masthead" role="navigation">
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
					<a href="/" class="brand"><img src="/img/fabuloos-logo.png" width="120" title="Fabuloos.org" /></a>
					</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav">
						<li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
						<li><a href="/download/"><i class="glyphicon glyphicon-download"></i> Download</a></li>
						<li><a href="/documentation/"><i class="glyphicon glyphicon-book"></i> Documentation</a></li>
						<li><a href="/news/"><i class="glyphicon glyphicon-bullhorn"></i> News</a></li>
					</ul>
					</div>
				</div><!-- end of .container -->
				</div><!-- end of .navbar-inner -->
			</div><!-- end of .navbar -->
</div><!-- end of .masthead -->

{% if page.lead %}
<!-- Sub Header -->
<div id="subhead" style="margin-top: 60px;">
	<div class="container">
		<h1><span class="glyphicon glyphicon-bullhorn"></span> {{ page.lead }}</h1>
		<p class="lead">lead</p>
	</div>
</div>
<!-- end of .subhead -->
{% endif %}

<div class="container">
	{{ content }}
</div><!-- end of .container -->

<footer id="footer">
	<div class="container">
		<a href="http://egeny.fr" class="pull-left"><img width="120" src="/img/egeny.png" alt="eGeny.fr" /></a>
		<p>Fabuloos is a trademark of <a href="#">eGeny, Inc.</a></p>
		<ul class="pull-right list-inline">
			<li><a href="https://github.com/egeny/fabuloos-js/issues"><i class="icon-bug"></i><span class="for-reader"> Report a bug</span></a></li>
			<li><a href="https://github.com/egeny/"><i class="icon-github"></i><span class="for-reader"> GitHub account</span></a></li>
			<li><a href="http://twitter.com/_fabuloos"><i class="icon-twitter"></i><span class="for-reader"> Twitter account</span></a></li>
		</ul>
	</div>
</footer><!-- end of #footer -->
</body>
</html>