---
layout: default
lead: Documentation
---

<div class="row">
	<div class="col-md-4 col-xs-3">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Documentation</div>

			<!-- List group -->
			<ul class="list-group">
			{% for page in site.pages %}
				{% if page.layout == "method" or page.layout == "function" %}
				<li class="list-group-item"><a href="{{ page.url }}">{{ page.name }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-md-8 col-xs-9">
		{{ content }}
	</div>
</div>