---
layout: documentation
---

<h1 class="page-header">.{{ page.name }}()<span> — {{ page.description }}</span></h1>

{% if page.signatures %}
<div id="signatures">
	{% for signature in page.signatures %}
	<div class="signature">
		{% highlight js %}.{{ page.name }}({% for param in signature.params %}{% if param.optional %}[{{ param.name }}]{% else %}{{ param.name }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endhighlight %}
		{% if signature.params.size > 0 %}
		<ul class="params">
		{% for param in signature.params %}
			<li><strong>{% if param.optional %}[{{ param.name }}]{% else %}{{ param.name }}{% endif %}</strong> ({{ param.type }}) — {{ param.description | markdownify_inline }}</li>
		{% endfor %}
		</ul><!-- end of .params -->
		{% endif %}
		<p class="return"><span>{{ signature.return.type }}</span> {{ signature.return.description | markdownify_inline }}</p>
	</div><!-- end of .signature -->
	{% endfor %}
</div><!-- end of #signatures -->
{% endif %}

<div class="content">{{ content }}</div>

{% if page.related %}
<p>Voir aussi: {% for related in page.related %}<a href="/documentation/api/{{ related }}.html">{{ related }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
{% endif %}