---
layout: default
---

{% for post in site.posts %}
	<article>
		<header>
			<h1>{{ post.title }}</h1>
			<p style="margin-top:10px;">
				<span class="for-reader">Published the </span><span class="date">{{ post.date | date_to_long_string }}</span>
				{% if post.author %} ● <span class="for-reader">by </span>
					{% if post.author.url %}
						<a class="author" href="{{ post.author.url }}">{{ post.author.name }}</a>
					{% elsif post.author.name %}
						{{ post.author.name }}
					{% else %}
						{{ post.author }}
					{% endif %}
				{% endif %}
			</p>
		</header>

		{{ post.content }}
	</article>
{% endfor %}